# Maven directories
target/
.mvn/wrapper/

# IDEA project files
.idea
*.iws
*.iml
*.ipr

# VS Code project files
.vscode/

# Spring Boot Maven Wrapper
mvnw
mvnw.cmd

# Maven wrapper jar file (optional)
.mvn/wrapper/maven-wrapper.jar

# Other IDEs
# STS
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# Gradle
.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# Ignore other common IDEs (NetBeans)
nbproject/private/
nbbuild/
dist/
nbdist/